<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PomodoroTimer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <PomodoroTimer.Properties.Settings>
            <setting name="WorkSeconds" serializeAs="String">
                <value>1500</value>
            </setting>
            <setting name="LongBreakSeconds" serializeAs="String">
                <value>900</value>
            </setting>
            <setting name="BreakSeconds" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="BaloonSeconds" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="HideToTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowTimeCorrection" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowWindowNotif" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MinimizeAtStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RemindWhenPaused" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RemindPeriod" serializeAs="String">
                <value>60</value>
            </setting>
        </PomodoroTimer.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
